<h1>Battleship</h1>

<p>This is a simple battleship game. Make shots and win a game.</p>

<hr />

<!--GAME NOT INITIALIZED-->
<div *ngIf="!isGameInitialized()">
  <div class="row">
    <div class="col-sm-4">
      <form [formGroup]="newGameForm" #loanApplicationFormLoanParametersData="ngForm">
        <div class="row">
          <label for="playerName" class="form-label">Enter your name:</label>
          <input type="text" formControlName="playerName" class="validate form-control">

          <div *ngIf="playerName.invalid">
            <label *ngIf="playerName.errors.required" class="error" for="playerName">Player name is required</label>
          </div>
        </div>

        <div class="row">
          <button type="button" class="btn btn-primary pull-right" (click)="createNewGame()" [disabled]="newGameForm.invalid">Start new game</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--DURING GAME-->
<div *ngIf="isGameInitialized()">
  <div class="row" *ngIf="!isGameFinished()">
    <div class="col-sm-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let x of xList">{{x}}</th>
          </tr>
        </thead>
        <tr *ngFor="let squaresRow of squaresRows; let i = index">
          <td>{{(i+1)}}</td>
          <td *ngFor="let square of squaresRow.squares" (click)="makeShot(square)">
            <!--<span class="{{getSquareClass(square)}}" aria-hidden="true"></span>-->
            <button type="button" class="btn btn-primary pull-right" [disabled]="isSquareDisabled(square)"><span class="{{getSquareClass(square)}}" aria-hidden="true"></span></button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="isGameFinished()">
    Game finished. The winner is {{getWinnerName()}}!
  </div>
</div>

<hr />

<p>Legend:</p>
<ul>
  <li><span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>- square can be shot</li>
  <li><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>- miss</li>
  <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>- hit</li>
</ul>
